.half_project_card_container{
    background-color: rgba(75,105,184,0.97);
    color: white;
    width: 85%;
    height: 150px;
    margin: 1%;
    overflow-y: hidden;
    transition: ease-in-out 0.2s;
}

.full_project_card_container{
    background-color: white;
    color: rgba(75,105,184,0.97);
    width: 85%;
    height: 400px;
    margin: 1%;
    border: 1px solid black;
    overflow-y: hidden;
    transition: ease-in-out 0.2s;
}

.half_project_card_container:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.full_project_card_container:hover{
    cursor: pointer;
}